In [1]:
import pandas as pd
from pymongo import MongoClient

mongo_client = MongoClient('34.209.155.42', 27016)
database_reference = mongo_client.twitter

In [2]:
database_reference.collection_names()

['users', 'instructor_test_group', 'tweets']

In [3]:
collection_reference = database_reference.instructor_test_group

In [4]:
all_tweets = {}
just_the_text = {'text': 1}
text = pd.DataFrame(list(collection_reference.find(all_tweets, just_the_text)))

In [5]:
text.text = text.text.str.replace('http\S+|www.\S+', '', case=False)

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [7]:
tfidf = TfidfVectorizer(stop_words='english')

In [8]:
tfidf.fit(text.text)
word_occurence = tfidf.transform(text.text)

In [9]:
word_occurence_m = pd.DataFrame(word_occurence.todense(), columns=tfidf.get_feature_names())
word_occurence_m.head()

,00,000,001,003inna,004,0042z,0050z,00am,00pm,00s,...,행복해버려요ㅠㅠㅠ,헌법개정에국가정체성과,헤헤,３匹の子ブタ,ａｒｅ,ｆｕｃｋｉｎｇ,ｗｅｌｃｏｍｅ,ｙｏｕ,𝙳𝚒𝚐𝚒𝚝𝚊𝚕,𝙹𝚘𝚗
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
from sklearn.decomposition import LatentDirichletAllocation

In [13]:
lda = LatentDirichletAllocation(n_topics=10)

In [14]:
lda.fit(word_occurence)

/opt/conda/lib/python3.6/site-packages/sklearn/decomposition/online_lda.py:508: DeprecationWarning: The default value for 'learning_method' will be changed from 'online' to 'batch' in the release 0.20. This warning was introduced in 0.18.
  DeprecationWarning)

LatentDirichletAllocation(batch_size=128, doc_topic_prior=None,
             evaluate_every=-1, learning_decay=0.7, learning_method=None,
             learning_offset=10.0, max_doc_update_iter=100, max_iter=10,
             mean_change_tol=0.001, n_jobs=1, n_topics=10, perp_tol=0.1,
             random_state=None, topic_word_prior=None,
             total_samples=1000000.0, verbose=0)

In [15]:
latent_dirichlet_allocation = pd.DataFrame(lda.components_, columns=tfidf.get_feature_names()).T

In [17]:
latent_dirichlet_allocation.sort_values(0, ascending=False).head(10)

,0,1,2,3,4,5,6,7,8,9
want,57.181362,9.832036,0.100080,37.632318,0.100026,0.100043,0.100029,0.100016,0.100016,1.824405
wait,55.128520,0.100038,0.100052,0.100015,0.100016,0.100023,0.100018,0.100033,0.100021,0.100021
wow,49.422223,0.100018,0.100028,0.100014,0.100008,0.100022,0.100009,0.100016,0.100004,0.100007
opening,40.695962,0.100006,0.100008,0.100076,0.100001,0.100001,0.100005,0.100009,0.100000,0.100009
just,36.643210,18.063423,92.488235,6.190458,0.100025,21.195921,6.360797,6.170567,0.100080,6.018458
days,34.214567,0.100023,0.100063,0.100033,0.100014,0.100045,0.100027,0.100034,0.100007,0.100045
video,32.752523,0.100018,0.100085,0.100014,0.100023,0.100044,0.100027,0.100027,0.100008,0.100009
2018,32.579205,5.941539,0.100052,0.100040,0.100020,8.898999,0.100050,0.100045,0.100027,4.838862
trying,32.315805,0.100018,0.100057,0.100029,0.100004,0.100031,0.100049,0.100039,0.100014,0.100019
ready,31.372967,0.100026,0.100055,0.100023,0.100013,0.100017,0.100042,0.100035,0.100008,0.100044

In [18]:
latent_dirichlet_allocation.sort_values(1, ascending=False).head(10)

,0,1,2,3,4,5,6,7,8,9
los,0.100006,90.695760,0.100016,0.100027,0.100006,4.907982,0.100013,0.100020,0.100002,0.100021
angeles,0.100005,88.935808,0.100006,0.100012,0.100007,0.100008,0.100005,0.100007,0.100002,0.100007
california,0.100042,68.327619,0.100027,11.762635,0.100207,4.209415,0.100017,0.100046,0.100026,0.100037
realdonaldtrump,0.100029,60.682355,26.025677,0.100026,0.100014,8.668066,0.100014,0.100023,0.100035,0.100012
trump,0.100023,37.312224,0.100081,0.100039,0.100042,0.100083,0.100026,0.100048,6.778780,0.100035
doing,0.100046,31.613265,0.100074,0.100024,0.100017,0.100037,0.100019,0.100020,0.100009,0.100011
ok,0.100024,31.032006,0.100038,0.100008,0.100015,0.100017,0.100004,0.100018,0.100013,0.100005
wish,0.100027,30.650985,0.100060,0.100009,0.100004,0.100030,0.100008,0.100013,0.100012,0.100031
live,0.100041,28.448855,0.100042,0.100039,0.100067,5.323679,0.100035,0.100071,0.100023,9.319461
went,0.100016,25.025040,0.100065,0.100020,0.100015,0.100026,0.100020,0.100031,0.100019,0.100025

In [19]:
latent_dirichlet_allocation.sort_values(2, ascending=False).head(10)

,0,1,2,3,4,5,6,7,8,9
like,19.144940,0.100058,137.403481,3.514432,0.100030,0.100051,9.880062,7.283599,0.100031,0.100022
just,36.643210,18.063423,92.488235,6.190458,0.100025,21.195921,6.360797,6.170567,0.100080,6.018458
good,0.100035,10.491588,90.274146,6.663489,0.100012,6.638556,0.100034,7.086036,0.100026,0.100034
don,14.683858,0.100042,81.174119,8.675129,0.100026,12.667690,7.951185,5.396136,0.100013,0.100043
shit,4.963182,0.100014,78.517286,0.100018,0.100009,0.100029,0.100015,0.100019,0.100022,0.100024
fuck,0.100031,0.100013,76.673447,0.100029,0.100008,0.100009,0.100033,0.100009,0.100004,0.100028
really,0.100025,10.334415,75.251090,0.100028,0.100017,0.100027,0.100042,0.100025,0.100029,0.100014
got,13.647908,0.100040,75.094565,0.100023,0.100010,10.405936,0.100039,0.100042,0.100029,0.100017
know,0.100048,4.906654,73.880296,0.100037,0.100014,18.775568,0.100024,4.048928,0.100038,0.100037
happy,0.100020,0.100056,72.998999,0.100022,0.100017,0.100033,0.100014,0.100042,0.100017,0.100037

In [20]:
latent_dirichlet_allocation.sort_values(3, ascending=False).head(10)

,0,1,2,3,4,5,6,7,8,9
ca,0.100322,13.242048,0.100009,130.095130,0.100003,0.100010,0.100009,0.100011,0.100001,6.563002
job,5.843419,0.100002,0.100030,123.772330,0.100004,0.100011,0.100004,0.100007,0.100003,0.100011
hiring,0.100105,0.100000,0.100001,113.081743,0.100000,0.100004,0.100001,0.100000,0.100000,0.100001
losangeles,0.100014,0.100041,0.100008,86.150896,0.100009,0.100011,0.100010,0.100011,0.100006,0.100009
careerarc,0.100005,0.100000,0.100000,67.411818,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000
yes,0.100025,0.100020,0.100044,61.368722,0.100029,0.100019,0.100013,0.100025,0.100020,0.100028
work,9.138795,0.100029,23.271174,59.537141,0.100014,0.100023,0.100023,0.100026,0.100011,0.100036
lmao,7.742115,0.100028,0.100076,58.104796,0.100014,0.100046,0.100028,0.100014,0.100022,0.100015
looking,0.100025,0.100019,0.100057,52.481015,0.100019,0.100011,0.100023,0.100030,0.100018,0.100021
great,8.741591,0.100078,26.260579,50.823757,0.100023,0.100028,2.949834,0.100040,0.100022,0.100018

In [21]:
latent_dirichlet_allocation.sort_values(4, ascending=False).head(10)

,0,1,2,3,4,5,6,7,8,9
fun,0.100030,0.100032,0.100064,0.100030,31.310013,0.100040,0.100018,0.100024,0.100028,0.100026
person,0.100046,0.100032,0.100061,0.100026,29.116835,0.100040,0.100022,0.100023,0.100023,0.100022
gt,0.100035,0.100011,0.100004,0.100011,26.151870,0.100013,0.100004,0.100003,0.100011,0.100004
literally,0.100017,0.100020,0.100053,0.100027,25.826661,0.100023,0.100022,0.100048,0.100015,0.100023
congrats,0.100008,0.100005,0.100021,0.100017,18.578574,0.100004,0.100045,0.100071,0.100032,0.100015
smile,0.100014,0.100014,0.100073,0.100019,17.078871,0.100011,0.100071,0.100043,0.100004,0.100020
course,0.100032,0.100014,0.100049,0.100006,16.767445,0.100012,0.100022,0.100013,0.100009,0.100026
use,0.100098,0.100089,0.100076,0.100035,16.639881,4.229259,0.100059,0.100041,0.100063,0.100040
hot,0.100009,0.100051,0.100043,0.100039,14.250149,0.100009,0.100039,0.100003,0.100032,5.395408
deserve,0.100011,0.100002,0.100055,0.100007,13.692602,0.100031,0.100025,0.100020,0.100011,0.100000

In [22]:
latent_dirichlet_allocation.sort_values(5, ascending=False).head(10)

,0,1,2,3,4,5,6,7,8,9
lol,17.503290,11.060542,0.100082,12.899344,0.100029,66.962192,9.905964,0.100042,0.100023,0.100032
did,0.100054,0.100030,0.100070,0.100028,0.100018,60.857311,0.100056,0.100042,0.100020,0.100038
today,0.100039,16.555170,0.100129,0.100062,0.100034,49.389839,0.100069,0.100091,0.100041,16.449900
la,0.100051,0.100114,26.551246,13.438554,0.100008,35.531838,4.141222,0.100077,0.100058,6.227434
talk,0.100019,0.100041,0.100041,0.100037,0.100016,29.407473,0.100018,0.100050,0.100012,0.100016
hard,0.100028,0.100037,0.100080,0.100027,0.100007,28.307175,0.100026,0.100060,0.100008,0.100017
interested,0.100016,0.100007,0.100008,0.100367,0.100013,26.029213,0.100002,0.100003,0.100003,0.100011
weekend,0.100020,0.100031,0.100053,0.100015,0.100042,23.746663,0.100039,0.100039,0.100003,0.100013
hit,0.100044,0.100052,0.100073,0.100015,0.100006,23.691171,0.100038,0.100024,0.100005,0.100019
movie,0.100039,0.100022,0.100047,0.100007,0.100013,23.219529,0.100027,0.100021,0.100008,0.100062

In [23]:
latent_dirichlet_allocation.sort_values(6, ascending=False).head(10)

,0,1,2,3,4,5,6,7,8,9
thank,0.100035,12.271047,0.100047,0.100014,0.100039,0.100021,73.430358,0.100049,0.100037,0.100025
im,0.100051,0.100011,0.100048,0.100012,0.100011,0.100015,49.072757,0.100007,0.100007,0.100011
said,0.100030,0.100045,0.100061,0.100021,0.100022,0.100033,42.076326,0.100024,0.100017,0.100016
god,0.100030,0.100030,0.100033,0.100006,0.100017,0.100007,38.345899,0.100006,0.100024,0.100018
long,0.100044,0.100029,0.100071,0.100027,0.100088,0.100013,34.077631,0.100041,0.100060,0.100046
money,9.971226,0.100018,0.100041,0.100021,0.100016,0.100010,28.228379,0.100014,0.100022,0.100035
dead,0.100009,0.100003,0.100036,0.100007,0.100024,0.100029,24.850600,0.100003,0.100009,0.100005
hollywood,0.100050,0.100046,13.131850,0.100039,0.100012,0.100050,23.954560,0.100073,0.100011,0.100028
wrong,0.100018,0.100021,0.100044,0.100006,0.100037,0.100032,23.503314,0.100022,0.100019,0.100021
left,0.100045,0.100011,0.100047,0.100073,0.100050,0.100020,21.579158,0.100016,0.100004,0.100036

In [24]:
latent_dirichlet_allocation.sort_values(7, ascending=False).head(10)

,0,1,2,3,4,5,6,7,8,9
love,13.310138,13.337124,52.061962,0.100032,0.100041,0.100049,9.626246,81.852731,0.100032,0.100039
thanks,0.100037,0.100034,0.100050,0.100023,0.100025,0.100019,0.100048,53.742670,0.100015,0.100040
tonight,0.100054,0.100053,0.100087,0.100038,0.100032,0.100022,0.100031,53.099984,0.100012,0.100471
omg,0.100025,0.100011,0.100024,0.100018,0.100009,0.100013,0.100019,44.974407,0.100015,0.100011
beautiful,0.100013,0.100021,0.100023,0.100012,0.100015,0.100020,0.100044,35.613120,0.100009,0.100015
ve,16.832779,0.100088,0.100119,3.971836,4.609782,0.100085,10.124880,32.435891,0.100071,0.100041
come,0.100060,0.100056,29.858996,0.100023,0.100017,0.100052,0.100034,29.223224,0.100007,0.100034
big,0.100022,0.100030,15.551267,0.100024,0.100053,0.100022,0.100047,27.609324,0.100021,0.100041
nice,0.100007,0.100018,0.100025,0.100017,0.100009,0.100031,0.100033,27.451367,0.100018,0.100014
talking,0.100021,0.100031,0.100056,0.100022,0.100029,0.100016,0.100008,23.741827,0.100026,0.100017

In [25]:
latent_dirichlet_allocation.sort_values(8, ascending=False).head(10)

,0,1,2,3,4,5,6,7,8,9
best,0.100051,0.100053,0.100063,0.100024,0.100019,0.100034,0.100045,0.100037,56.560349,0.100049
test_geo_hierarchy,0.100000,0.100000,0.100000,0.100000,0.100009,0.100000,0.100000,0.100000,41.800667,0.100000
mood,0.100010,0.100008,0.100015,0.100009,0.100001,0.100006,0.100010,0.100006,34.324729,0.100004
man,0.100049,9.602859,0.100110,7.937921,0.100064,0.100034,0.100040,0.100029,30.155090,8.654862
having,0.100022,0.100022,0.100069,0.100043,0.100029,0.100054,0.100036,0.100049,28.509500,0.100013
tho,0.100015,0.100010,0.100041,0.100019,0.100007,0.100025,0.100016,0.100013,26.984738,0.100008
dude,0.100014,0.100024,0.100055,0.100006,0.100024,0.100045,0.100029,0.100035,23.931322,0.100021
guess,0.100054,0.100045,0.100039,0.100031,0.100017,0.100021,0.100033,0.100022,19.563401,0.100026
lost,0.100044,0.100027,0.100049,0.100022,0.100036,0.100033,0.100027,0.100026,18.196023,0.100033
kids,0.100021,0.100029,0.100054,0.100021,0.100017,0.100018,0.100010,0.100021,18.181089,0.100020

In [26]:
latent_dirichlet_allocation.sort_values(9, ascending=False).head(10)

,0,1,2,3,4,5,6,7,8,9
stop,0.100041,0.100043,0.100049,0.100018,0.100015,0.100030,0.100029,0.100035,0.100007,40.306128
rn,0.100029,0.100019,0.100019,0.100111,0.100011,0.100017,0.100014,0.100008,0.100002,31.631013
away,0.100022,0.100052,0.100056,0.100020,0.100020,0.100041,0.100024,0.100025,0.100015,26.972537
women,0.100032,0.100049,0.100061,0.100024,0.100024,0.100039,0.100025,0.100014,0.100042,22.500976
bad,0.100038,8.921253,0.100073,0.100037,0.100026,0.100026,0.100016,0.100019,0.100026,21.020164
remember,0.100069,3.679969,0.100048,0.100048,0.100033,0.100051,0.100032,0.100023,0.100015,20.612412
maybe,0.100012,0.100059,0.100094,0.100021,0.100021,0.100010,0.100036,0.100016,0.100013,20.508270
sick,0.100068,0.100027,0.100033,0.100014,0.100001,0.100015,0.100024,0.100019,0.100017,19.166853
walk,0.100015,0.100018,0.100044,0.100029,0.100003,0.100010,0.100038,0.100011,0.100009,18.301087
family,0.100047,0.100046,0.100088,4.844266,0.100010,0.100025,0.100030,0.100028,0.100031,17.880130