In [1]:
import pandas as pd
from pymongo import MongoClient

mongo_client = MongoClient('this_mongo')
database_reference = mongo_client.twitter

In [2]:
database_reference.collection_names()

['vineland_test_group', 'tweets']

In [3]:
collection_reference = database_reference.vineland_test_group

In [4]:
all_tweets = {}
just_the_text = {'text': 1}
text = pd.DataFrame(list(collection_reference.find(all_tweets, just_the_text)))

In [5]:
text.text = text.text.str.replace('http\S+|www.\S+', '', case=False)

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [7]:
tfidf = TfidfVectorizer(stop_words='english')

In [9]:
tfidf.fit(text['text'].values.astype('U'))
word_occurence = tfidf.transform(text['text'].values.astype('U'))

In [9]:
word_occurence_m = pd.DataFrame(word_occurence.todense(), columns=tfidf.get_feature_names())
word_occurence_m.head()

,00,000,001,003inna,004,0042z,0050z,00am,00pm,00s,...,ÌñâÎ≥µÌï¥Î≤ÑÎ†§Ïöî„Ö†„Ö†„Ö†,ÌóåÎ≤ïÍ∞úÏ†ïÏóêÍµ≠Í∞ÄÏ†ïÏ≤¥ÏÑ±Í≥º,Ìó§Ìó§,ÔºìÂåπ„ÅÆÂ≠ê„Éñ„Çø,ÔΩÅÔΩíÔΩÖ,ÔΩÜÔΩïÔΩÉÔΩãÔΩâÔΩéÔΩá,ÔΩóÔΩÖÔΩåÔΩÉÔΩèÔΩçÔΩÖ,ÔΩôÔΩèÔΩï,ùô≥ùöíùöêùöíùöùùöäùöï,ùôπùöòùöó
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
from sklearn.decomposition import LatentDirichletAllocation

In [11]:
lda = LatentDirichletAllocation(n_topics=10)

In [12]:
lda.fit(word_occurence)

/opt/conda/lib/python3.6/site-packages/sklearn/decomposition/online_lda.py:508: DeprecationWarning: The default value for 'learning_method' will be changed from 'online' to 'batch' in the release 0.20. This warning was introduced in 0.18.
  DeprecationWarning)

LatentDirichletAllocation(batch_size=128, doc_topic_prior=None,
             evaluate_every=-1, learning_decay=0.7, learning_method=None,
             learning_offset=10.0, max_doc_update_iter=100, max_iter=10,
             mean_change_tol=0.001, n_jobs=1, n_topics=10, perp_tol=0.1,
             random_state=None, topic_word_prior=None,
             total_samples=1000000.0, verbose=0)

In [13]:
latent_dirichlet_allocation = pd.DataFrame(lda.components_, columns=tfidf.get_feature_names()).T

In [14]:
latent_dirichlet_allocation.sort_values(0, ascending=False).head(10)

,0,1,2,3,4,5,6,7,8,9
eagles,42.135393,0.100009,0.100026,0.100006,0.100029,0.100020,0.100005,7.909015,0.100023,0.100021
going,30.474263,0.100040,8.037710,0.100050,0.100022,0.100033,0.100030,0.100051,0.100045,0.100042
best,30.132079,0.100013,0.100016,0.100017,0.100016,0.100030,0.100001,0.100046,0.100040,0.100080
really,28.401717,0.100035,9.310790,0.100052,0.100023,2.874202,0.100016,0.100070,0.100038,8.209554
game,28.025654,0.100004,2.986440,0.100008,0.100047,0.100014,0.100022,0.100054,0.100035,0.100015
philly,27.683042,0.100001,0.100035,0.100002,0.100005,0.100011,0.100004,0.100023,0.100012,0.100009
just,26.805046,0.100043,5.001319,4.742731,3.739340,0.100031,0.100030,15.657880,25.821280,9.726688
new,23.669282,0.100276,6.250715,3.774691,0.100050,3.772681,0.100019,0.100068,5.472825,0.100037
snapchat,23.436823,0.100002,0.100008,0.100013,0.100005,0.100006,0.100003,0.100011,0.100048,0.100015
superbowl,22.950921,0.100001,0.100008,0.100041,0.100004,0.100004,0.100007,0.100018,0.100051,0.100016

In [15]:
latent_dirichlet_allocation.sort_values(1, ascending=False).head(10)

,0,1,2,3,4,5,6,7,8,9
girl,0.100021,23.180223,0.100018,0.100039,0.100003,0.100014,0.100005,0.100034,0.100017,0.100015
tonight,0.100069,16.864396,0.100028,0.100020,0.100015,0.100020,0.100024,6.739420,0.100018,0.100058
beautiful,0.100020,14.093257,0.100011,0.100011,0.100014,0.100005,0.100037,0.100012,0.100015,0.100025
called,0.100052,9.735048,0.100047,0.100002,0.100022,0.100010,0.100005,0.100036,0.100045,0.100015
guy,0.100021,9.381363,0.100034,3.133603,0.100027,0.100004,0.100006,0.100047,0.100070,0.100020
dead,0.100026,8.429359,0.100015,0.100002,0.100028,0.100037,0.100001,0.100037,0.100039,0.100014
hi,0.100066,8.307970,0.100006,0.100033,0.100043,0.100007,0.100019,0.100041,0.100024,0.100005
eat,0.100026,7.456153,0.100000,0.100019,0.100004,0.100015,0.100004,0.100011,0.100047,0.100004
feb,0.100004,7.367690,0.100074,0.100004,0.100002,0.100033,0.100016,0.100038,0.100002,0.100000
change,0.100029,6.964263,0.100003,0.100002,0.100019,0.100005,0.100020,0.100032,0.100098,0.100013

In [16]:
latent_dirichlet_allocation.sort_values(2, ascending=False).head(10)

,0,1,2,3,4,5,6,7,8,9
love,21.839461,0.100016,35.776715,0.100028,0.100049,6.228601,0.100045,13.561115,0.100055,6.427933
lol,17.000795,0.100031,27.576684,0.100050,0.100029,0.100028,3.288052,0.100058,10.844495,9.117420
did,0.100044,0.100048,23.399392,2.609208,0.100036,0.100037,0.100010,0.100047,12.327000,0.100040
man,0.100057,0.100015,18.435610,0.100022,3.348486,0.759332,0.100036,11.645290,9.833735,0.100025
awesome,0.100046,0.100031,16.009688,0.100018,0.100033,0.100027,0.100014,0.100038,0.100019,0.100025
left,0.100108,0.100004,15.291365,0.100023,0.100030,0.100009,0.100061,0.100068,0.100038,0.100009
gt,0.100004,0.100000,15.006518,0.100023,0.100001,0.100006,0.100010,0.100013,0.100009,0.100036
gotta,0.100041,0.100001,14.785277,0.100004,0.100011,0.100011,0.100018,0.100041,6.228948,0.100014
school,0.100049,0.100008,13.879719,0.100029,0.100016,0.100030,0.100047,3.497633,0.100027,0.100010
today,0.100070,2.327953,13.241304,3.055590,0.100029,6.774936,0.100029,11.679186,10.455937,0.100053

In [17]:
latent_dirichlet_allocation.sort_values(3, ascending=False).head(10)

,0,1,2,3,4,5,6,7,8,9
let,0.100086,0.100014,0.100039,19.764286,0.100015,3.543301,0.100355,0.100063,11.105167,2.935236
thank,10.078218,0.100044,0.100037,17.393927,0.100025,0.100016,0.100008,10.283210,0.100031,1.670852
got,0.100061,0.100016,4.037723,15.672635,2.029018,4.443670,0.100009,11.012438,7.874941,0.100108
foles,0.100026,0.100000,0.100021,14.186222,0.100045,0.100004,0.100003,0.100060,0.100021,0.100007
rn,0.100024,0.100005,0.100005,14.122281,0.100003,0.100052,0.100003,0.100025,0.100019,0.100027
catch,0.100013,0.100023,0.100016,12.911211,0.100017,0.100001,0.100018,0.100031,0.100009,0.100001
black,0.100022,0.100029,0.100018,12.811085,0.100020,0.100016,0.100005,0.100033,0.100019,0.100033
cnn,0.100047,0.100002,0.100015,12.705030,0.100066,0.100016,0.100030,0.100038,0.100033,0.100017
seen,0.100056,0.100010,0.100015,12.610519,0.100013,0.100014,0.100006,0.100036,0.100023,0.100026
30,1.072927,0.100055,0.100067,12.006124,0.100007,0.100002,0.100001,0.100010,0.100008,0.100006

In [18]:
latent_dirichlet_allocation.sort_values(4, ascending=False).head(10)

,0,1,2,3,4,5,6,7,8,9
yes,0.100032,0.100009,0.100030,0.100015,27.433765,0.100008,0.100007,0.100010,0.100054,0.100015
hate,0.100046,0.100004,0.100021,0.100008,26.551169,0.100010,0.100024,0.100022,0.100042,0.100024
fucking,0.100023,0.100001,0.100032,0.100005,23.008623,0.100002,0.100017,0.100039,0.100048,0.100010
wow,0.100033,0.100022,0.100014,0.100002,20.733555,0.100007,0.100015,6.111778,0.100030,0.100009
right,5.311919,0.100007,0.100044,0.100036,18.092806,0.100018,3.076035,6.172610,0.100035,6.494236
miss,0.100030,0.100022,0.100031,0.100082,15.537057,0.100011,0.100012,0.100021,0.100030,0.100026
sheilasheila58,0.100001,0.100000,0.100003,0.100000,14.664122,0.100009,0.100001,0.100000,0.100001,0.100000
nice,0.100032,0.100012,0.100010,0.100002,13.014643,0.100004,0.100017,0.100018,0.100009,0.100082
ortainedevian,0.100001,0.100000,0.100000,0.100000,12.550266,0.100002,0.100001,0.100000,0.100001,0.100000
music,0.100065,0.100006,0.100022,0.100010,12.425995,0.100017,0.100001,0.100021,0.100025,0.100004

In [19]:
latent_dirichlet_allocation.sort_values(5, ascending=False).head(10)

,0,1,2,3,4,5,6,7,8,9
job,0.100011,0.100001,0.100003,0.100007,0.100001,82.735856,0.100005,0.100020,0.100019,0.100007
hiring,0.100000,0.100000,0.100000,0.100000,0.100000,70.888285,0.100000,0.100002,0.100000,0.100000
careerarc,0.100000,0.100000,0.100000,0.100000,0.100000,53.724944,0.100000,0.100002,0.100000,0.100000
work,0.100065,0.100019,1.887736,0.100061,0.100005,43.837929,0.100020,0.100027,0.100057,2.711918
va,0.100016,0.100093,0.100007,1.169828,0.100015,40.713821,0.100033,0.100007,0.100002,0.100001
latest,0.100000,0.100000,0.100001,0.100001,0.100000,38.393672,0.100001,0.100013,0.100000,0.100001
great,11.280803,0.100008,0.100009,0.100040,0.100045,35.245007,0.100022,10.241655,0.100028,0.100045
opening,0.100008,0.100000,0.100002,0.100000,0.100014,32.419077,0.100000,0.100029,0.100015,0.100017
fuck,0.100037,0.100003,0.100014,0.100002,0.100018,31.926177,0.100014,0.100029,0.100026,0.100024
feel,0.100066,0.100006,0.100028,0.100012,0.100019,29.807836,0.100023,0.100072,0.100063,0.100031

In [20]:
latent_dirichlet_allocation.sort_values(6, ascending=False).head(10)

,0,1,2,3,4,5,6,7,8,9
need,0.100090,0.100027,0.100092,0.100055,0.100024,0.100028,33.205446,15.510834,0.100075,6.368685
oh,0.100027,0.100008,0.100003,0.100013,0.100038,0.100007,31.170641,0.100027,0.100024,0.100017
days,0.100031,0.100007,0.100018,0.100017,0.100054,0.100012,21.246986,0.100051,0.100035,0.100043
im,0.100032,0.100016,0.100026,0.100014,0.100010,0.100030,17.376077,0.100030,0.100041,0.100030
money,0.100022,0.100037,0.100024,0.100067,0.100012,1.391830,13.891404,0.100092,0.100103,0.100039
dont,0.100036,0.100006,0.100021,0.100019,0.100020,0.100011,12.334839,0.100056,0.100022,0.100003
lose,0.100051,0.100013,0.100017,0.100017,0.100032,0.100022,11.801351,0.100046,0.100009,0.100007
shut,0.100025,0.100000,0.100021,0.100045,0.100000,0.100028,10.520887,0.100043,0.100015,0.100003
smh,0.100020,0.100001,0.100017,0.100015,0.100000,0.100012,10.460196,0.100005,0.100009,0.100024
gone,0.100022,0.100006,0.100020,0.100008,0.100000,0.100003,9.848399,0.100027,0.100041,0.100004

In [21]:
latent_dirichlet_allocation.sort_values(7, ascending=False).head(10)

,0,1,2,3,4,5,6,7,8,9
time,10.067381,0.100030,0.100074,5.119576,4.218752,0.100068,1.342851,33.099036,0.100060,0.100051
super,0.100017,0.100001,0.100003,0.100017,0.100007,0.100003,0.100008,28.599964,0.100013,0.100009
better,0.100048,0.100004,0.100021,2.886485,0.100019,0.100142,0.100017,26.130873,0.100080,0.100037
birthday,0.100017,0.100003,0.100002,0.100002,0.100001,0.100005,0.100004,24.326269,0.100012,0.100051
bowl,0.100023,0.100000,0.100007,0.100010,0.100005,0.100002,0.100007,24.316987,0.100023,0.100010
amp,15.332187,0.100067,0.100064,0.100033,0.100044,4.037403,0.100088,24.164048,0.100068,5.132489
people,0.100042,0.100016,8.369138,0.100037,0.100057,9.491878,0.100058,23.179132,0.100079,6.090176
night,0.100037,0.100030,0.100009,0.100018,0.100004,0.100017,0.100021,22.603007,0.100036,0.100006
getting,7.582605,0.100034,0.100019,0.100021,0.100036,0.709623,0.100037,21.245562,0.100043,0.100052
happy,2.162360,0.100012,0.100014,0.100012,0.100006,0.100010,0.100079,21.050875,0.100027,25.792908

In [22]:
latent_dirichlet_allocation.sort_values(8, ascending=False).head(10)

,0,1,2,3,4,5,6,7,8,9
good,8.770734,0.100003,0.100044,0.100028,4.384839,0.100037,0.100078,16.233173,35.009074,0.100044
shit,0.100046,0.100005,0.100046,4.419641,0.100049,0.100012,0.100041,7.582140,32.594752,0.100023
don,12.612431,0.100047,0.100024,5.048798,0.100027,0.100031,0.100037,15.486810,29.069927,9.219622
like,18.480083,0.100018,7.856307,3.509113,3.652020,4.660030,0.100025,13.876035,29.029570,9.711080
just,26.805046,0.100043,5.001319,4.742731,3.739340,0.100031,0.100030,15.657880,25.821280,9.726688
wait,0.100030,0.100049,0.100011,0.100019,0.100035,0.100009,0.100082,0.100031,24.890693,0.100043
know,8.792726,0.100056,0.100041,2.573200,2.509622,0.100047,4.000451,17.590098,23.167356,4.093251
ll,4.887219,0.100018,0.100051,0.100032,0.100020,0.100026,0.100035,0.100030,21.035443,4.244095
think,9.995688,0.100026,0.100071,2.950728,3.250631,0.100060,0.100030,0.100109,20.293791,0.100062
realdonaldtrump,0.100013,0.835237,0.100035,3.270115,0.100033,0.100024,0.100013,10.709873,19.766741,6.178512

In [23]:
latent_dirichlet_allocation.sort_values(9, ascending=False).head(10)

,0,1,2,3,4,5,6,7,8,9
day,9.042280,0.100011,0.100075,0.100026,0.100012,2.575847,0.100012,14.239364,10.851138,30.537994
happy,2.162360,0.100012,0.100014,0.100012,0.100006,0.100010,0.100079,21.050875,0.100027,25.792908
valentine,0.100034,0.100005,0.100002,0.100019,0.100001,0.100005,0.100011,0.100025,0.100012,22.460782
thing,0.100077,0.100011,0.100016,3.642963,0.100013,0.100033,0.100010,0.100092,0.100066,22.014813
thanks,11.128245,0.100016,0.100015,0.100045,0.100039,0.100024,0.100020,0.100041,2.414753,21.713038
follow,0.100012,0.100000,0.100012,0.100003,0.100002,0.100005,0.100001,0.100039,0.100027,17.887885
friends,0.100031,0.100023,0.100003,0.100011,0.100009,0.100032,0.100011,0.100033,0.100058,17.145484
mood,0.100009,0.100009,0.100001,0.100000,0.100004,0.100002,0.100001,0.100006,0.100004,16.737084
amazing,0.100032,0.100026,0.100017,0.100004,0.100019,0.100010,0.100003,0.100046,0.100020,16.567407
come,7.183457,0.100034,0.100049,0.100054,0.100009,0.100038,0.100053,0.100099,0.100090,16.329674