In [2]:
type(True), type(1), type(3.14159), type('a'), type('foo'), type(None)
# The type function will tell you the data type of the data -- and by using the function, you can see that you
# don't need to define each data type

(bool, int, float, str, str, NoneType)

In [8]:
type({1,2,3}), type([1,2,3]), type((1,2,3)), type({'a' : 1, 'b' : 2, 'c' : 3})

(set, list, tuple, dict)

Set: {} - unordered and removes repeats - immutable

List: [] - list that is mutable - elements are usually homogenous and accessed by iterating over itself

Tuple: () - list that is immutable - heterogenous - accessed using unpacking - you can't modify it

Dict: { with refs } - List that has references and is mutable

In [9]:
bool_1 = True
bool_2 = False

int_1 = 7
int_2 = 2

float_1 = 3.14159
float_2 = 2.71828

char_1 = 'a'
char_2 = 'b'

str_1 = 'foo'
str_2 = 'bar'

Python has the same types of variables (booleans, integers, floats, strings) - no chars

In [41]:
bool_1 + bool_2, bool_1 - bool_2, bool_1 * bool_2

(1, 1, 0)

'+' and '-' will give you an OR when using booleans; '*' will give you an AND

In [11]:
bool_1 and bool_2, bool_1 or bool_2, not bool_1, not bool_2

(False, True, False, True)

and  
or  
not - opposite

In [12]:
int_1 ** int_2, int_1 % int_2

(49, 1)

** instead of ^ and % instead of %%

In [42]:
int_1 + int_2, int_1 - int_2, int_1 * int_2

(9, 5, 14)

In [14]:
int_1 / int_2 , int_1 // int_2

(3.5, 3)

// rounds down

In [43]:
int_1 ** int_2, int_1 % int_2

(49, 1)

In [44]:
float_1 + float_2, float_1 - float_2, float_1 * float_2

(5.85987, 0.42330999999999985, 8.539721265199999)

In [46]:
float_1 / float_2 , float_1 // float_2

(1.1557271509925393, 1.0)

In [18]:
float_1 ** float_2, float_1 % float_2

(22.45905914251384, 0.42330999999999985)

Modulus on a float doesn't produce an integer - not sure why

In [20]:
char_1 * 3, char_2*7

('aaa', 'bbbbbbb')

You can multiply strings

In [21]:
str_1 + str_2

'foobar'

You can add strings

In [47]:
str_1 * 3, str_2*7

('foofoofoo', 'barbarbarbarbarbarbar')

In [48]:
set_A = {True}
set_B = {True, False}
set_C = {1,2,3}
set_D = {2,3,4}
set_E = {1.1,2.2,3.2}
set_F = {'a','b','c'}
set_G = {'b','c','d'}

In [24]:
set_B - set_A

{False}

You can remove elements from sets (Find which ones are not common in two sets)

In [25]:
set_C & set_D, set_C | set_D

({2, 3}, {1, 2, 3, 4})

& for sets will give you the overlapping elements  
| will give you the addition of the two sets since they are unique

In [26]:
set_C | set_G

{1, 2, 3, 'b', 'c', 'd'}

Sets dont need to be the same data type

In [27]:
list_A = [True]
list_B = [True, False]
list_C = [1,2,3]
list_D = [2,3,4]
list_E = [1.1,2.2,3.2]
list_F = ['a','b','c']
list_G = ['b','c','d']

In [49]:
list_A + list_B, list_C + list_F

([True, True, False], [1, 2, 3, 'a', 'b', 'c'])

Lists will add items in order

In [29]:
list_E * 5

[1.1, 2.2, 3.2, 1.1, 2.2, 3.2, 1.1, 2.2, 3.2, 1.1, 2.2, 3.2, 1.1, 2.2, 3.2]

Lists can be recycled by multiplying them  
You can not use them as a vector

In [50]:
dict_1 = {'a' : 1, 'b' : 2, 'c' : 3}
dict_2 = {'d' : 2, 'e' : 3, 'f' : 4}

Dictionaries are set up as keys, values, and items, and you can call on each of them

In [31]:
dict_1.keys()

dict_keys(['a', 'b', 'c'])

In [32]:
dict_1.values()

dict_values([1, 2, 3])

In [33]:
dict_1.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [34]:
for k,v in dict_1.items():
    print("key: {} value: {}".format(k,v))

key: a value: 1
key: b value: 2
key: c value: 3

In [51]:
def area_of_a_square(side):
    return side**2

area_of_a_square(7)

49

def is how you define a function

In [36]:
class Square:
    
    def __init__(self, side):
        self.side = side
        self.area = self.calculate_area()
        
    def calculate_area(self):
        return self.side**2
    
    def __repr__(self):
        return "Square(side: {}, area: {})".format(self.side, self.area)

class - will almost always have a duner init
dunder init (double underscore on both sides)

When I make a new object of class Square, a new object gets called -- the dunder init gets executed first -- those are the arguments that the object gets when it's created

In [37]:
my_square = Square(7)
my_square

Square(side: 7, area: 49)

In [53]:
my_square.side, my_square.area

(7, 49)

In [54]:
Square(7)

Square(side: 7, area: 49)

In [38]:
squares = [Square(1), Square(2), Square(3), Square(4)]

In [39]:
def area_greater_than_10(square):
    if square.area > 10:
        return True
    else:
        return False

In [40]:
for square in squares:
    print(square, area_greater_than_10(square))

Square(side: 1, area: 1) False
Square(side: 2, area: 4) False
Square(side: 3, area: 9) False
Square(side: 4, area: 16) True